* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  padding-bottom: 1em;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
  font-size: 62.5%;
  /*équivalent de 10px*/
  background-color: #f4f4ee;
  background-image: linear-gradient(right, #d2d2d2, rgba(244, 244, 238, 0), #d2d2d2); }

a {
  color: #4d4d4d;
  transition: color 0.2s ease-in-out; }

a:hover {
  color: #cac537;
  text-decoration: none; }

.wrapper {
  padding-bottom: 1em; }

.trait-vertical {
  width: 1px;
  height: 4em;
  background-color: #cac537;
  margin: 0 auto; }

.trait-vertical.court {
  height: 2em; }

.portrait img {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #cac537;
  padding: 0.3em; }

section {
  margin: 0 auto;
  width: 630px;
  text-align: center; }

section:before, section:after {
  content: "";
  display: block;
  border: 1px solid #cac537;
  height: 7px; }

section:before {
  margin-bottom: 1em;
  border-bottom: none; }

section:after {
  margin-top: 1em;
  border-top: none; }

section h1,
section p {
  margin: 0 1rem; }

section h2 {
  display: none; }

figure{
  margin: 0 15px;
}
figure:not(:first-child){
  margin: 50px 15px 0 15px;
}
figure:not(:last-child){
  padding-bottom: 10px;
  border-bottom: 1px solid #777777;
}
figure a{
  display:block;
  position: relative;
}
figure a img{
  transition: all 0.2s;
  border: 2px solid #D2D2BB;
}
figure a:not(:first-child) img{
  margin-top: 15px;
}
figure a::before{
  transition: color 0.2s;
  content: "\f08e";
  font-family: "FontAwesome";
  color: transparent;
  font-size: 4rem;
  display: block;
  width: 100px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}
figure a:hover::before{
  color: #cac537;
}
figure a:hover img{
  opacity: 0.6;
  border-color: #cac537;
  }
figure figcaption{
  font-size: 1rem;
  text-align: left;
  margin: 10px 0;
}
figure figcaption h2{
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
}
figcaption ul{
  margin: 10px 0 10px 15px;
  list-style-type: square;
  list-style-position: inside;
}
figcaption p{
  margin: 10px 0;
}

.presentation h1 {
  font-size: 3.5em;
  font-weight: 300;
  text-align: left; }

.contact p {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0.4em;
  text-align: right; }

.liens li {
  display: inline-block;
  margin-right: 1.5em; }

.liens li a {
  text-decoration: none;
  display: block; }

.liens li:last-child {
  margin-right: 0; }

.liens li a i {
  display: block;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out; }

.liens li a i:hover, .liens li a i:active {
  transform: scale(1.2) rotate(-380deg);
  color: #cac537; }

.infos p {
  text-align: right;
  font-size: 1.5em; }

i.icon {
  font-size: 40px; }

/************************MEDIA QUERIES */
@media only screen and (max-width: 320px) {
  body {
    /*-webkit-box-sizing: content-box;*/ }

  .wrapper {
    padding: 0 1em 1em 1em;
    width: 100%; }

  section {
    width: 100%; } }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */ }
