@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,300&display=swap');
:root {
  --color-white: white;
  --color-black: #081110;
  --font-weight--light: 300;
  --vh: 1vh;

  font-family: 'Imbue', serif;
  font-weight: var(--font-weight--light);
  line-height: 1;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 62.5%;
}

::selection {
  background-color: var(--color-black);
}

* {
  user-select: none;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  
  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

@media (prefers-color-scheme: light) {

}
